@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
