.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.text {
  $primary: #ee287e;
  $secondary: #ff00e6;
  order: 2;
  color: #fde9ff;
  text-transform: uppercase;
  text-shadow:
    3px 1px 1px $primary,
    2px 2px 1px $secondary,
    4px 2px 1px $primary,
    3px 3px 1px $secondary,
    5px 3px 1px $primary,
    4px 4px 1px $secondary,
    6px 4px 1px $primary,
    5px 5px 1px $secondary,
    7px 5px 1px $primary,
    6px 6px 1px $secondary,
    8px 6px 1px $primary,
    7px 7px 1px $secondary,
    9px 7px 1px $primary;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow:
        2px 2px 1px #e94aa1,
        -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1,
        1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}
